@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.no-scroolbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
